<!-- {{locations|safe}} -->
<!-- {% for item in locations %}
  {{ item|safe }};
{% endfor %} -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polylines</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <!-- {{locations|safe}} -->
    <div id="map"></div>
    <script>
      
        function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 25,
            center: {lat: 19.18744, lng: 72.97267},
            mapTypeId: 'terrain'
          });
          {% for item in locations%}
            var flightPlanCoordinates = {{ item.location|safe }};
            
            var flightPath = new google.maps.Polyline({
              path: flightPlanCoordinates,
              geodesic: true,
              strokeColor: '{{ item.color }}',
              strokeOpacity: 1.0,
              strokeWeight: 10,
            });
            flightPath.setMap(map);
          {% endfor %}
        }
    
          
        </script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqvGJptlGEn2obUoKnhGVkJp09rahvXlU&callback=initMap">
        </script>
  </body>
</html>